.top-nav {
    background-color: black;
    padding: 0;
    margin: 0;
    width: 100%;
    position: sticky;
    top: 0;
    ul {
        padding: 0;
        margin: 0;

        .hamburger-menu-container {
            padding: 0 10px 0 10px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            .hamburger-menu-icon {
                height: 40px;
                width: 40px;
            }

            .hamburger-menu-title {
                font-size: larger;
            }
        }
        .nav-link:not(:has(.icon-grid)) {
                        cursor: pointer;

        }
        .nav-link {
            font-size: 22px;
            border: .1px solid black;
            padding: 5px 0 5px 0;
            background-color: #880808;

            .nav-link-anchor {
                text-decoration: none;
                color: white;
                padding: 10px;
            }

            .title {
                font-weight: bold;
            }
        }
        .nav-link:hover {
            .nav-link-anchor {
                color: black;
            }
        }
    }
}
.active {
  animation: rotate 0.5s ease-out forwards ; 
}

.hide-link {
    display: none;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(90deg);
  }
}