.item-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
    background-color: #262628;
    width: 100%;
    padding: 30px 0 30px 0 ;
    }

@media (min-width: 925px) {
    .item-grid {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    }
}

.item {
    border: 0px;
    width: 300px;
    height: 300px;
    margin: 0 auto;
}
