.footer-grid {
    height: 160px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    background-color: #262628;
    place-items: center;

    .col {
        display: flex;
        flex-direction: column;
        justify-content: center;

        .icon-grid {
            padding: 0;

        }

        .email {
            text-decoration: none;
            color: white;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            background-color: #55868C;
            padding: 8px;
            border-radius: 5px;
        }

        .email:hover {
            background-color: white;
            color: #55868C;

        }

    }
}

@media (max-width: 688px) {
    .footer-grid {
        display: flex;
        flex-direction: column;
        height: max-content;
        padding-bottom: 10px;
        p {
            margin-bottom: 16px;
        }
    }
}