.footer-grid {
    height: 160px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    background-color: #262628;
    place-items: center;

    .col {
        display: flex;
        flex-direction: column;
        justify-content: center;

        .icon-grid {
            padding: 0;

        }

        .button {
            cursor: pointer;
            border: 0;
            text-decoration: none;
            color: white;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            background-color: #26535A;
            padding: 8px;
            border-radius: 5px;
        }

        .button:hover {
            background-color: white;
            color: #26535A;
        }

    }
}

@media (max-width: 688px) {
    .footer-grid {
        display: flex;
        flex-direction: column;
        height: max-content;
        padding-bottom: 10px;
        p {
            margin-bottom: 16px;
        }
    }
}

#privacy-policy {
background-color: #262628;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: min-content;
  width: 80vw;
  z-index: 9999;

  #close-button {
    background-color: transparent;
    position: relative;
    top: -17px;
    left: 50%;
    border: none;
    text-align: right;
  }
}