.footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #242424;
    ul {
        list-style-type: none;
            margin: 0;
            padding: 0;

        li {
            display: inline;
            .email:hover {
                cursor: pointer;
            }
            .footer-link {
                margin-left: 8px;
                img {
                    height: 40px;
                    width: 40px;
                }
                img:hover {
                    cursor: pointer;
                }
            }
        }
    }
}